@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: #1e1e1e;
  --secondary: #2f2f2f;
  --border-primary: #1f1f1f;
  --text-primary: #d1d5db;  /* grey-300 */
  --text-secondary: #f3f4f6; /* grey-100 */
  --text-theme: #ffffff;
  --bg-theme: #ffffff;
}

html.light {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #ffffff;
  --secondary: #f3f4f6;
  --border-primary: #e5e7eb;
  --text-primary: #1f2933;
  --text-secondary: #374151;
  --text-theme: #000000;
  --bg-theme: #e5e7eb
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border-primary: var(--border-primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-theme: var(--text-theme);
  --color-bg-theme: var(--bg-theme);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            
}
